body
{
    direction: rtl;
    text-align: right;
}
.no-padding {
    padding: 0;
}
nav.navbar.navbar-expand-md.navbar-light.navbar-laravel
{
    margin: 0;
    padding: 0;
}
li.nav-item, .search-form {
    padding: 10px 15px;
}

.follow-btn {
    background: #337ab7;
    color: #ffffff !important;
    padding: 5px;
    border-radius: 5px;
}

a {

    color: #222222;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #222222;
}

a:hover {
    text-decoration: none;
    color: #777777;
}

.card:hover {
    box-shadow: 1px 1px 1px 1px #f1efee;
}